@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kalam&display=swap");
* {
  margin: 0;
  padding: 0;
}

#section-introduction {
  height: 100vh;
  width: 100vw;
  min-width: 768px;
  min-height: 500px;
  background: #ddc9b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-introduction #title-FCC {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#section-introduction #title-FCC h1 {
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 4.5em;
  color: #271705;
}

#section-introduction #title-FCC h1 #final-width {
  visibility: hidden;
  position: fixed;
}

#section-introduction #title-FCC h1 #FCC-word {
  display: inline-block;
  overflow-x: clip;
}

#section-introduction #title-FCC h1 span {
  background: #ddc9b2;
}

#section-introduction #slideshow {
  height: 20rem;
  width: 90%;
  margin-bottom: 10px;
  background: #e2b582;
  border: 2px black solid;
  -webkit-box-shadow: 10px 10px 2px #bea689;
          box-shadow: 10px 10px 2px #bea689;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: .1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: .1;
  }
}

#section-introduction #slideshow .fade {
  -webkit-animation: fade 9s linear;
          animation: fade 9s linear;
}

#section-introduction #slideshow > :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-introduction #slideshow > :first-child h2 {
  font-size: 2.9em !important;
}

#section-introduction #slideshow > :first-child span {
  font-weight: bolder;
  color: #1b1b1b;
}

#section-introduction #slideshow > :first-child kbd {
  font-size: 1.25em;
}

#section-introduction #slideshow > :nth-child(2), #section-introduction #slideshow :nth-child(3) {
  display: none;
}

#section-introduction #slideshow .slide {
  text-align: left;
  height: inherit;
}

#section-introduction #slideshow .slide div {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
}

#section-introduction #slideshow .slide div h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.3em;
  line-height: 1.1em;
}

#section-introduction #slideshow .slide div p {
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.25em;
  margin-top: 15px;
}

#section-introduction #slideshow .slide img {
  height: calc(100% - 20px);
  width: 41%;
  padding-top: 10px;
  padding-right: 10px;
  -webkit-margin-start: 4%;
          margin-inline-start: 4%;
}

#section-introduction #discover-btn {
  height: calc(100vh - 20% - 20rem - 15px);
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#section-introduction #discover-btn a {
  width: inherit;
}

#section-introduction #discover-btn button {
  width: inherit;
  border-radius: 8px;
  background-color: #7e762e;
  font-family: monospace;
  font-size: 2.8em;
  border: none;
  color: whitesmoke;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

#section-introduction #discover-btn button span {
  position: relative;
  display: block;
}

#section-introduction #discover-btn button span::after {
  content: '⇓⇓';
  position: absolute;
  opacity: 0;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.2em;
  -webkit-transition: top 0.2s ease-in;
  transition: top 0.2s ease-in;
}

#section-introduction #discover-btn button:hover {
  padding-bottom: 40px;
}

#section-introduction #discover-btn button:hover span::after {
  opacity: 1;
  top: 75%;
}

@media (min-width: 768px) and (max-width: 1050px) {
  #section-introduction #title-FCC h1 {
    font-size: 6vw;
  }
  #section-introduction #slideshow {
    height: 18rem;
    width: 95%;
  }
  #section-introduction #slideshow > :first-child h2 {
    font-size: 2.0em !important;
  }
  #section-introduction #slideshow > :first-child kbd {
    font-size: 1.1em !important;
  }
  #section-introduction #slideshow > :first-child p {
    font-size: 1.20em !important;
    line-height: 1.05em !important;
  }
  #section-introduction #slideshow .slide div h2 {
    font-size: 2.3em;
    line-height: 1.1em;
  }
  #section-introduction #slideshow .slide div p {
    font-size: 1.25em;
    line-height: 1.05em;
    margin-top: 5px;
  }
  #section-introduction #discover-btn {
    height: calc(100vh - 20% - 18rem - 15px);
  }
}

@media (max-width: 768px) {
  #section-introduction #title-FCC h1 {
    font-size: 3.0em;
  }
  #section-introduction #slideshow {
    height: 18rem;
    width: 92%;
  }
  #section-introduction #slideshow > :first-child h2 {
    font-size: 1.8em !important;
  }
  #section-introduction #slideshow > :first-child kbd {
    font-size: 1.15em;
  }
  #section-introduction #slideshow > :first-child p {
    font-size: 1.15em !important;
    line-height: 1.05em !important;
  }
  #section-introduction #slideshow .slide div h2 {
    font-size: 2.3em;
  }
  #section-introduction #slideshow .slide div p {
    font-size: 1.17em;
    line-height: 1.05em;
    margin-top: 5px;
  }
  #section-introduction #discover-btn {
    height: calc(100vh - 20% - 18rem - 15px);
  }
}

@media (max-height: 600px) {
  #section-introduction {
    height: 600px;
  }
  #section-introduction #title-FCC {
    height: 140px;
  }
  #section-introduction #slideshow {
    height: 290px;
  }
  #section-introduction #discover-btn {
    height: 155px;
  }
}

.icon-cont {
  position: fixed;
  background: rgba(255, 255, 255, 0.158);
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10%;
  z-index: 10;
}

.icon-cont .menu-icon {
  position: relative;
  top: 17px;
  margin: 0 auto;
  height: 5px;
  width: 30px;
  background: #9b0909;
  display: block;
  border-radius: 20%;
}

.icon-cont .menu-icon:before, .icon-cont .menu-icon:after {
  -webkit-transition: top 0.2s ease-in-out 0.1s;
  transition: top 0.2s ease-in-out 0.1s;
  position: absolute;
  display: block;
  content: "";
  height: 5px;
  width: 30px;
  background-color: #9b0909;
  border-radius: 20%;
}

.icon-cont .menu-icon:after {
  top: 11px;
}

.icon-cont .menu-icon:before {
  top: -11px;
}

.open .menu-icon {
  background: transparent;
}

.open .menu-icon:before, .open .menu-icon:after {
  -webkit-transition: top 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out 0.25s;
  transition: top 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out 0.25s;
  transition: top 0.25s ease-in-out, transform 0.35s ease-in-out 0.25s;
  transition: top 0.25s ease-in-out, transform 0.35s ease-in-out 0.25s, -webkit-transform 0.35s ease-in-out 0.25s;
  top: 0px;
  left: -5px;
  width: 40px;
}

.open .menu-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .menu-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes bounce {
  from {
    top: 8px;
  }
  80% {
    top: 19px;
  }
  to {
    top: 15px;
  }
}

@keyframes bounce {
  from {
    top: 8px;
  }
  80% {
    top: 19px;
  }
  to {
    top: 15px;
  }
}

.bounce {
  -webkit-animation: bounce 900ms linear 300ms;
          animation: bounce 900ms linear 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.shortcut-menu {
  position: fixed;
  right: 15px;
  width: 270px;
  padding: 15px 20px 10px 20px;
  border-radius: 5px;
  background-color: rgba(255, 241, 218, 0.95);
  -webkit-box-shadow: 0 3px 10px #a1998d;
          box-shadow: 0 3px 10px #a1998d;
  z-index: 5;
}

.shortcut-menu h3 {
  font-size: 1.5em;
  font-family: "Kalam", cursive;
}

.shortcut-menu ul {
  list-style: none;
}

.shortcut-menu ul li {
  padding: 9px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shortcut-menu .sc-des {
  font-size: 0.95em;
  width: 60%;
}

.shortcut-menu .sc-text {
  width: 45%;
  margin-left: 5px;
  line-height: 1.5;
}

.shortcut-menu .sc-text kbd {
  background: white;
  outline: black solid 1px;
  padding: 0.2em 0.5em;
  border-radius: 2px;
}

#section-quote {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 768px;
}

#section-quote #quote-box {
  z-index: 2;
  background-color: rgba(228, 210, 198, 0.86);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1.5rem 2rem 0rem 2rem;
  border-radius: 10px;
}

#section-quote #quote-box #text {
  color: #240803;
  position: relative;
  top: 0px;
  font-family: "Dancing Script", cursive;
  font-size: 3.2rem;
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 10px;
}

#section-quote #quote-box #author {
  color: #240803;
  position: relative;
  height: auto;
  text-align: right;
  margin-right: 5.5rem;
  font-family: "Kalam", cursive;
  font-size: 2.0rem;
}

#section-quote #quote-box #flex-box {
  position: relative;
  bottom: 0px;
  height: auto;
  width: 100%;
  padding: 1.8rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-quote #quote-box #flex-box #new-quote {
  border: none;
  display: inline-block;
  font-family: "Kalam", cursive;
  font-size: 1.8rem;
  font-weight: bolder;
  padding: 5px 10px;
  margin-left: 5%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #3a0c17;
  color: #3a0c17;
}

#section-quote #quote-box #flex-box #new-quote:hover {
  background-color: #3a0c17;
  color: white;
}

#section-quote #quote-box #flex-box .small-btn {
  position: relative;
  width: 3.5rem;
  height: 2.8rem;
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 10%;
}

#section-quote #quote-box #flex-box .small-btn i {
  font-size: 250%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#section-quote #quote-box #flex-box #pinter {
  margin-right: 4rem;
  background-color: transparent;
  color: #E60023;
  border: 2px solid #E60023;
}

#section-quote #quote-box #flex-box #pinter:hover {
  background-color: #E60023;
  color: white;
}

#section-quote #quote-box #flex-box #tweet-quote {
  margin-right: 2rem;
  background-color: transparent;
  color: #1DA1F2;
  border: 2px solid #1DA1F2;
}

#section-quote #quote-box #flex-box #tweet-quote:hover {
  background-color: #1DA1F2;
  color: white;
}

#section-quote #quotes-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

@media (max-height: 600px) {
  #section-quote {
    height: 600px;
  }
}
/*# sourceMappingURL=styles.css.map */